__pycache__
.venv

data-*
build
dist
lib
results
difflogic.egg-infomain.log
difflogic.egg-info
main.log
.DS_Store
main.log.info
main.log.i
*.png
*.pth
allres.txt
*.csv
*.xlsx
cuda_13.1.1_590.48.01_linux.run
cuda-keyring_1.1-1_all.deb
difflogic_cuda.cpython-311-x86_64-linux-gnu.so
iris_model.pth
results.csv
